{
    local_certs
}

https://{$CADDY_HOST} {
#    @api path /api/*
#    reverse_proxy @api backend:9000

reverse_proxy angular:4200 {
header_up Host {$CADDY_HOST}
header_up X-Real-IP {remote_host}
header_up X-Forwarded-Host {host}
header_up X-Forwarded-Proto {scheme}
header_up Upgrade {>Upgrade}
header_up Connection {>Connection}
}

file_server
tls internal
}
